<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	
<title>nLearning</title>

<body>

<form method="post">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" />
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" />
    </div>
    <div>
        <label for="nome">Senha:</label>
        <input type="password" id="senha" name="senha"/>
    </div>
    <div>
        <label for="nome">CPF:</label>
        <input type="text" id="cpf" name="cpf"/>
    </div>
     <div>
        <label for="nome">Telefone:</label>
        <input type="text" id="telefone" name="telefone"/>
    </div>
   	<div>
        <label for="nome">Endereço:</label>
        <input type="text" id="endereco" name="endereco"/>
    </div>
     <div class="button">
        <button type="submit">Enviar seu cadastro</button>
    </div>
</form>

</body>
</html>
