<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleCorp 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20132402

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Unica+One&family=Varela+Round&display=swap" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="#">n<span>Learning</span></a></h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="#" accesskey="1" title="">Home</a></li>
			<li><a href="#" accesskey="2" title="">Serviços</a></li>
			<li><a href="#" accesskey="3" title="">Sobre nós</a></li>
			<li><a href="#" accesskey="5" title="">Login</a></li>
		</ul>
	</div>
</div>
<div id="banner-wrapper">
	<div id="banner" class="container">
		<h2 class="intro">O que é o nLearning ?</h2>
		<p class="intro_text">O nLearning é uma plataforma de ensino a distância nascido da parceria entre a Fatec de São José dos Campos e a Ness Health.</p>
		<h2 class="oferecimento">O que o nLearning pode oferecer ?</h2>
		<h3 class="oferecimento_text">Bom..</h3>
	</div>
	<div id="wrapper">
		<div id="page" class="container">
			<div id="content" class="container">
				<div class="cbox1">
					<img src="/imagens/pilula.svg" id="imagem"alt="" />
					<h2>Pílulas de conhecimento</h2>
					<p class="text_icons">Além das video-aulas, temos também pílulas de conhecimento
						que são partes de um contéudo resumido em forma escrita</p>
				</div>
				<div class="cbox2">
					<img src="/imagens/retangulo.svg" id="imagem"alt="" />
					<h2>Relatórios personalizavéis</h2>
					<p class="text_icons">Disponibilizamos personalização de relatório para os professores , includindo junto um dashbord para avaliação de perfomace e outros detlahes</p>
				</div>
				<div class="cbox3">
					<img src="/imagens/pontotrilha.svg" id="imagem"alt="" />
					<h2>Trilha de aprendizado</h2>
					<p class="text_icons">A trilha de aprendizado mostrará um gráfico que análisa a taxa de acertos do aluno</p>
				</div>
			</div>
		</div>
	</div>
	<div id="featured-wrapper">
		<div id="featured" class="container">
			<div>
				<h3 class="titulo_beneficios">Benefícios</h3>
			</div>
			<div id="fbox1">
				<div class="box-conten container_beneficios">
					<img src="/imagens/lapisteste.svg" alt="" class="imagem_beneficio lapis_tamanho"/>
					<p class="margem_baixo">Temos diversas áreas, todas com respectivas atividades, com diferentes niveis de dificuldade</p>
				</div>
				<div class="box-content container_beneficios" >
					<img src="/imagens/chatbot.svg" alt="" class="imagem_beneficio"/>
					<p>Chat bot para atendimento 24 horas.</p>
				</div>
			</div>
			<div id="fbox2">
				<div class="container_beneficios">
					<img src="/imagens/certificado.svg" alt="" class="imagem_beneficio"/>
					<p class="margem_baixo">Emissão de certificados de conclusão de cursos.</p>
				</div>
				<div class="container_beneficios">
					<img src="/imagens/tutor.svg" alt="" class="imagem_beneficio"/>
					<p>Sistemas de tutores, para auxilio, dúvidas e avaliação de nossos alunos</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="container">
		<p>&copy; Todos direitos reservados por NessHealth / nLearning.</p>
	</div>
</div>
</body>
</html>
