<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Unica+One&family=Varela+Round&display=swap"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
	rel="stylesheet" type="text/css">
<link href="/css/login.css" rel="stylesheet" type="text/css" />
<link href="/css/default.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link href="/bootstrap/css/ionicons.min.css" rel="stylesheet">
<link href="/bootstrap/css/lightbox.min.css" rel="stylesheet">
<link href="/bootstrap/css/style.css" rel="stylesheet">
</head>

</head>
<body>
	<div id="header">
		<div id="logo">
			<h1>
				<a href="#">n<span>Learning</span></a>
			</h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Home</a></li>
				<li><a href="#" accesskey="2" title="">Serviços</a></li>
				<li><a href="#" accesskey="3" title="">Sobre nós</a></li>
				<li><a href="#" accesskey="5" title="">Login</a></li>
			</ul>
		</div>
	</div>
	<div>
		<form method="post">

			<div class="container">
				<label for="email"><b>E-mail</b></label> <input type="text"
				    name="e-mail" required> <label
					for="senha"><b>Senha</b></label> <input type="password"
					name="senha" required>

				<button type="submit">Login</button>
				<label> <input type="checkbox" checked="checked"
					name="remember"> Manter conectado
				</label> <span class="senha"> <a href="#">Esqueceu a senha?</a></span>
			</div>
		</form>
		<div id="banner-wrapper">
			<div id="footer" class="container">
				<p>&copy; Todos direitos reservados por NessHealth / nLearning.</p>
			</div>
		</div>
</body>
</html>
