<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Unica+One&family=Varela+Round&display=swap"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
	rel="stylesheet" type="text/css">
<link href="/css/cadastro.css" rel="stylesheet" type="text/css" />
<link href="/css/default.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link href="/bootstrap/css/ionicons.min.css" rel="stylesheet">
<link href="/bootstrap/css/lightbox.min.css" rel="stylesheet">
<link href="/bootstrap/css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="text/javascript" src="/js/maskTel.js"> </script>
<!-- Máscara para o telefone -->
<script type="text/javascript" src="/js/maskCPF.js"> </script>
<!-- Máscara para o CPF -->

</head>
<body class="body">
	<div id="header">
		<div id="logo">
			<h1>
				<a href="/">n<span>Learning</span></a>
			</h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Home</a></li>
				<li><a href="/" accesskey="2" title="">Serviços</a></li>
				<li><a href="/" accesskey="3" title="">Sobre nós</a></li>
				<li><a href="/Login" accesskey="5" title="">Sair</a></li>
			</ul>
		</div>
	</div>

	<table class="container">
		<thead>
			<tr>
				<th>Livro</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="livro : ${livro}">

				<td><iframe
						th:src="@{'data:application/pdf;base64,'+${livro.pdf_string}}"
						width="900" height="1100"> </iframe></td>
			</tr>
			<tr>
				<div style="border: 1px solid black; padding: 100px;">

						<input type="hidden" name="livro" th:value="${livro.pdf_string}"
							value="${livro.pdf_string}"> <a id='dwnldLnk'
							download='livro.pdf' style="display: none;" /></a> <a href="#"
							onclick="downloadPDF();" title='livro.pdf'>Se o livro não
							aparecer, faça download clicando aqui!</a>

<script th:inline="javascript">
/*<![CDATA[*/
  var livro_pdf = /*[[${livro.pdf_string}]]*/ "Livro";
/*]]>*/

window.downloadPDF = function downloadPDF() {

    var dlnk = document.getElementById('dwnldLnk');
    dlnk.href = pdf;

    dlnk.click();


    alert('Download Realizado com Sucesso!');
}
var b64 = document.getElementsByName('livro').value;
var pdf = 'data:application/octet-stream;base64,' + livro_pdf;

</script>

					</div>
			</tr>
		</tbody>
	</table>

</body>
</html>